.img-logo-wrapper {
    position: relative;
    width: 60%;
    margin: auto;
}

img.img-logo {
    width: 100%;
}

img.img-logo-red {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.img-logo-wrapper:hover img.img-logo-red {
    visibility: visible;
    opacity: 1;
}

img.img-company {
    height: 100px;
    margin: 20px 0;
}

.card-pricing .card-body {
    height: 360px;
}

.card[data-color="silver"] {
    background: #9c9c9c;
}

.card[data-color="dark_purple"] {
    background: rgb(103,52,209);
}

.card[data-color="gold"] {
    background: #fac03c;
}